<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordings</title>
</head>
<body>
    <h1> Edited Recordings</h1>
    <div id="recordings-container">
        {% for recording in recordings %}
            <div class="recording">
                <p>Recording Name: {{ recording.rec_name }}</p>
                <audio controls id="audioPlayer{{ loop.index }}">
                    <source src="{{ recording.path_name }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                <button class="play-btn" data-audio="audioPlayer{{ loop.index }}">Play</button>
                <button class="stop-btn" data-audio="audioPlayer{{ loop.index }}">Stop</button>
            </div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var playBtns = document.querySelectorAll('.play-btn');
            var stopBtns = document.querySelectorAll('.stop-btn');

            playBtns.forEach(function(playBtn) {
                playBtn.addEventListener('click', function() {
                    var audioId = this.getAttribute('data-audio');
                    var audioPlayer = document.getElementById(audioId);
                    audioPlayer.play();
                });
            });

            stopBtns.forEach(function(stopBtn) {
                stopBtn.addEventListener('click', function() {
                    var audioId = this.getAttribute('data-audio');
                    var audioPlayer = document.getElementById(audioId);
                    audioPlayer.pause();
                    audioPlayer.currentTime = 0;
                });
            });

        });
    </script>
</body>
</html>