<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordings</title>
</head>
<body>
    <h1> Original Recordings</h1>
    <div id="recordings-container">
        {% for recording in recordings %}
            <div class="recording">
                <p>Recording Name: {{ recording[1] }}</p>
                <audio controls id="audioPlayer{{ loop.index }}">
                    <source src="{{ recording[2] }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                <button class="play-btn" data-audio="audioPlayer{{ loop.index }}">Play</button>
                <button class="stop-btn" data-audio="audioPlayer{{ loop.index }}">Stop</button>
                <button class="edit-btn" data-id="{{ recording[0] }}">Edit</button>
            </div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var playBtns = document.querySelectorAll('.play-btn');
            var stopBtns = document.querySelectorAll('.stop-btn');
            var editBtns = document.querySelectorAll('.edit-btn');

            playBtns.forEach(function(playBtn) {
                playBtn.addEventListener('click', function() {
                    var recordingName = this.parentNode.querySelector('p').innerText.split(": ")[1]; 
                    fetch('http://128.164.137.157:5000/bc986c10/play-audio?audioId='+ recordingName)
                });
            });

            stopBtns.forEach(function(stopBtn) {
                stopBtn.addEventListener('click', function() {
                    var audioId = this.getAttribute('data-audio');
                    var audioPlayer = document.getElementById(audioId);
                    audioPlayer.pause();
                    audioPlayer.currentTime = 0;
                });
            });

            editBtns.forEach(function(editBtn) {
                editBtn.addEventListener('click', function() {
                    var recordingName = this.parentNode.querySelector('p').innerText.split(": ")[1]; 
                    fetch('http://128.164.137.157:5000/bc986c10/edit?audioId='+ recordingName)
                    // Redirect or perform edit operation for recording with ID recordingId
                    alert('Please press button then turn rotary to desired output speed.\n Press button once done :)');
                });
            });
        });
    </script>
</body>
</html>


